.root {
    -fx-background-color: #333333;
}

.cardFrame {
    -fx-background-color: #ffc7c7;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 1);
    -fx-transition: all 0.3s;
    -fx-min-width: 400; 
    -fx-min-height: 300; 
}


.englishLabel {
    -fx-font-size: 24;
    -fx-text-fill: #0059ff;
    -fx-wrap-text: true;
    -fx-max-width: 400;
    -fx-font-family: "Times New Roman"; 
    -fx-transition: all 0.3s;
}

.turkishLabel {
    -fx-font-size: 24;
    -fx-text-fill: #ff0000;
    -fx-wrap-text: true;
    -fx-max-width: 400;
    -fx-font-family: "Times New Roman"; 
    -fx-transition: all 0.3s;
}

.bottomFrame {
    -fx-background-color: #333333;
    -fx-spacing: 20;
    -fx-padding: 20;
}

.button {
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-min-width: 120;
    -fx-transition: all 0.3s;
}

.knewButton {
    -fx-background-color: #00a906; 
}

.didNotKnowButton {
    -fx-background-color: #d20000; 
}

.understoodButton {
    -fx-background-color: #0072cf; 
}

.scoreLabel {
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-transition: all 0.3s;
}

.congratulationsLayout {
    -fx-background-color: #333333;
    -fx-spacing: 20;
    -fx-padding: 50;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 1);
    -fx-transition: all 0.3s;
}

.congratulationsLabel {
    -fx-font-size: 36;
    -fx-text-fill: #ffd609; 
    -fx-transition: all 0.3s;
}

.button:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.8), 5, 0, 0, 1);
}

.knewButton:hover, .didNotKnowButton:hover, .understoodButton:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.8), 10, 0, 0, 1);
}




